@model Contest.Models.Result.FinalResultViewModel

@{
    ViewData["Title"] = "Result Section";
    var judges = Model.JudgesScores.Select(x => System.Globalization.CultureInfo.CurrentCulture.TextInfo.ToTitleCase(x.Judge)).Distinct().ToList();
    var plainOrderTeams = Model.TeamsScores.OrderByDescending(x => x.AveragePlainAverage).ToList();
    var bestIdeaTeams = Model.TeamsScores.OrderByDescending(x => x.AverageBestIdeaScore).ToList();
    var bestImplementationTeams = Model.TeamsScores.OrderByDescending(x => x.AverageBestImplementationScore).ToList();
    var peoplesChoiceTeams = Model.PeoplesChoiceRanks;
    int sn = 1;
}

<ul class="nav nav-tabs" id="v-pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active rounded-0" id="h-judges-tab" data-bs-toggle="tab" data-bs-target="#h-judges" role="tab" aria-controls="h-judges" aria-selected="true">Judge Panel</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link rounded-0" id="v-plain-result-tab" data-bs-toggle="tab" data-bs-target="#v-plain-result" role="tab" aria-controls="v-plain-result" aria-selected="false">Plain Ranking</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link rounded-0" id="v-best-idea-result-tab" data-bs-toggle="tab" data-bs-target="#v-best-idea-result" role="tab" aria-controls="v-best-idea-result" aria-selected="false">Best Idea Ranking</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link rounded-0" id="v-best-impl-result-tab" data-bs-toggle="tab" data-bs-target="#v-best-impl-result" role="tab" aria-controls="v-best-impl-result" aria-selected="false">Best Implementation Ranking</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link rounded-0" id="v-peoples-choice-tab" data-bs-toggle="tab" data-bs-target="#v-peoples-choice" role="tab" aria-controls="v-peoples-choice" aria-selected="false">People's Choice Ranking</button>
    </li>
</ul>

<div class="tab-content" id="v-pills-tabContent">
    <div class="tab-pane fade show active" id="h-judges" role="tabpanel" aria-labelledby="h-judges-tab">
        <ul class="list-group list-group-flush p-5">
            @foreach (var judgeName in judges)
            {
                <li class="list-group-item fs-4">
                    <span>@(sn++).</span> @judgeName
                    <span class="badge bg-primary rounded-pill fs-5" title="Teams Evaluated">8</span>
                </li>
            }
        </ul>
    </div>
    <div class="tab-pane fade pt-2" id="v-plain-result" role="tabpanel" aria-labelledby="v-plain-result-tab">
        <div class="row  mx-0">
            @for (int i = 0; i < plainOrderTeams.Count; i++)
            {
                var teamName = plainOrderTeams[i].TeamName;
                var teamScore = $"{plainOrderTeams[i].AveragePlainAverage:0.000}";
                var theme = plainOrderTeams[i].Theme.ToString();
                var participants = plainOrderTeams[i].Participants;
                var title = $"{theme} - {participants}";


                <div class="col-md-4 text-center mb-4">
                    @if (i == 0)
                    {
                        <img src="/images/goldmedal.png" alt="Winner" class="medal-size" title="@title">
                    }
                    else if (i == 1)
                    {
                        <img src="/images/silvermedal.png" alt="runnerup" class="medal-size" title="@title">
                    }
                    else if (i == 2)
                    {
                        <img src="/images/bronzemedal.png" alt="runnerupsecond" class="medal-size" title="@title">
                    }
                    else
                    {
                        <img src="/images/lovebatch.png" alt="runnerupsecond" class="love-token" title="@title">
                    }
                    <h3 class="text-uppercase text-info">@teamName</h3>
                    <h4 class="text-success">Score: <strong>@teamScore / 10</strong></h4>
                </div>
            }
        </div>
    </div>
    <div class="tab-pane fade pt-2" id="v-best-idea-result" role="tabpanel" aria-labelledby="v-best-idea-result-tab">
        <div class="row  mx-0">
            @for (int i = 0; i < bestIdeaTeams.Count; i++)
            {
                var teamName = bestIdeaTeams[i].TeamName;
                var teamScore = $"{bestIdeaTeams[i].AverageBestIdeaScore:0.000}";
                var theme = bestIdeaTeams[i].Theme.ToString();
                var participants = bestIdeaTeams[i].Participants;
                var title = $"{theme} - {participants}";


                <div class="col-md-4 text-center mb-4">
                    @if (i == 0)
                    {
                        <img src="/images/goldmedal.png" alt="Winner" class="medal-size" title="@title">
                    }
                    else if (i == 1)
                    {
                        <img src="/images/silvermedal.png" alt="runnerup" class="medal-size" title="@title">
                    }
                    else if (i == 2)
                    {
                        <img src="/images/bronzemedal.png" alt="runnerupsecond" class="medal-size" title="@title">
                    }
                    else
                    {
                        <img src="/images/lovebatch.png" alt="runnerupsecond" class="love-token" title="@title">
                    }
                    <h3 class="text-uppercase text-info">@teamName</h3>
                    <h4 class="text-success">Score: <strong>@teamScore / 10</strong></h4>
                </div>
            }
        </div>
    </div>
    <div class="tab-pane fade pt-2" id="v-best-impl-result" role="tabpanel" aria-labelledby="v-best-impl-result-tab">
        <div class="row mx-0">
            @for (int i = 0; i < bestImplementationTeams.Count; i++)
            {
                var teamName = bestImplementationTeams[i].TeamName;
                var teamScore = $"{bestImplementationTeams[i].AverageBestImplementationScore:0.000}";
                var theme = bestImplementationTeams[i].Theme.ToString();
                var participants = bestImplementationTeams[i].Participants;
                var title = $"{theme} - {participants}";


                <div class="col-md-4 text-center mb-4">
                    @if (i == 0)
                    {
                        <img src="/images/goldmedal.png" alt="Winner" class="medal-size" title="@title">
                    }
                    else if (i == 1)
                    {
                        <img src="/images/silvermedal.png" alt="runnerup" class="medal-size" title="@title">
                    }
                    else if (i == 2)
                    {
                        <img src="/images/bronzemedal.png" alt="runnerupsecond" class="medal-size" title="@title">
                    }
                    else
                    {
                        <img src="/images/lovebatch.png" alt="runnerupsecond" class="love-token" title="@title">
                    }
                    <h3 class="text-uppercase text-info">@teamName</h3>
                    <h4 class="text-success">Score: <strong>@teamScore / 10</strong></h4>
                </div>
            }
        </div>
    </div>
    <div class="tab-pane fade p-2" id="v-peoples-choice" role="tabpanel" aria-labelledby="v-peoples-choice-tab">
        @if ((bool)ViewData["enablePeoplesChoiceAward"])
        {
            <partial name="_PeoplesChoice" model="peoplesChoiceTeams" />
        }
        else
        {
            string feature = "People's Choice Award";
            <partial name="_FeatureNotAccessable" model="feature" />
        }
    </div>
</div>