@using Kolpi.Models.Survey
@model FeedbackViewModel

@{
  Layout = null;
}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Feedback - V-Hackathon</title>

  <environment include="Development">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link href="~/css/bootstrap-rating.css" rel="stylesheet" />
  </environment>
  <environment exclude="Development">
    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
          asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
          asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
    <link href="~/css/bootstrap-rating.min.css" rel="stylesheet" />
  </environment>
  <style>
    .fontnormal {
      font-weight: normal;
    }

    .number {
      font-size: 3em;
      padding-top: 15px;
      padding-left: 20px;
    }
  </style>
</head>
<body style="background: #2e3192; color: white">
  <div class="container body-content">
    <div class="text-center">
      <img src="~/images/verscend_reversed.png" alt="Verscend" />
      <h3>Feedback Sheet for @ViewData["Description"]</h3>
    </div>

    <form asp-action="SubmitFeedback">
      <div asp-validation-summary="ModelOnly" class="text-danger"></div>
      <input type="hidden" asp-for="SurveyThreadId" />
      <div class="col-md-12" style="border:2px solid white; padding: 20px; margin-top: 20px;">

        <div class="row">
          <div class="col-md-1">
            <div class="number">1</div>
          </div>
          <div class="form-group col-md-11">
            <label asp-for="Name" class="control-label fontnormal"></label>
            <input type="text" asp-for="Name" class="form-control" placeholder="Optional: Leave empty if you wish to remain anonymous" />
          </div>
        </div>
        <div class="row">
          <div class="col-md-1">
            <div class="number">2</div>
          </div>
          <div class="form-group col-md-11">
            <label asp-for="Good" class="control-label fontnormal"></label>
            <textarea rows="2" asp-for="Good" class="form-control"></textarea>
            <span asp-validation-for="Good" class="text-danger"></span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1">
            <div class="number">3</div>
          </div>
          <div class="form-group col-md-11">
            <label asp-for="Ok" class="control-label fontnormal"></label>
            <textarea rows="2" asp-for="Ok" class="form-control"></textarea>
            <span asp-validation-for="Ok" class="text-danger"></span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1">
            <div class="number">4</div>
          </div>
          <div class="form-group col-md-11">
            <label asp-for="Bad" class="control-label fontnormal"></label>
            <textarea rows="2" asp-for="Bad" class="form-control"></textarea>
            <span asp-validation-for="Bad" class="text-danger"></span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1">
            <div class="number">5</div>
          </div>
          <div class="form-group col-md-11">
            <label asp-for="EventFeatureViewModels" class="control-label fontnormal"></label>
            @for (var i = 0; i < Model.EventFeatureViewModels.Count; i++)
            {
              <div class="checkbox">
                <label>
                  <input asp-for="@Model.EventFeatureViewModels[i].Selected" />@Model.EventFeatureViewModels[i].Name
                  <input type="hidden" asp-for="@Model.EventFeatureViewModels[i].FeatureId" />
                  <input type="hidden" asp-for="@Model.EventFeatureViewModels[i].Name" />
                </label>
              </div>

              if (Model.EventFeatureViewModels[i].Name.StartsWith("Judging"))
              {
                <input asp-for="JudgingProcessImprovements" placeholder="How?" class="form-control" />
              }
            }
          </div>
        </div>
        <div class="row">
          <div class="col-md-1">
            <div class="number">6</div>
          </div>
          <div class="form-group col-md-11">
            <div class="checkbox">
              <label>
                <input asp-for="InterestedInFuture" /> @Html.DisplayNameFor(model => model.InterestedInFuture)
              </label>
            </div>
            <label asp-for="FutureTheme" class="control-label fontnormal"></label>
            <textarea asp-for="FutureTheme" rows="2" class="form-control"></textarea>
            <span asp-validation-for="FutureTheme" class="text-danger"></span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1">
            <div class="number">7</div>
          </div>
          <div class="form-group col-md-11">
            <label asp-for="ExpectedFeatures" class="control-label fontnormal"></label>
            <textarea asp-for="ExpectedFeatures" rows="2" class="form-control"></textarea>
            <span asp-validation-for="ExpectedFeatures" class="text-danger"></span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1">
            <div class="number">8</div>
          </div>
          <div class="form-group  col-md-11">
            <label asp-for="OverallRating" class="control-label fontnormal"></label>
            <div style="font-size: 3em">
              <input type="hidden" asp-for="OverallRating" class="rating" value="5" />
              <span asp-validation-for="OverallRating" class="text-danger"></span>
            </div>
            <small>(Please click on a heart to rate.)</small>
          </div>
        </div>

        <div class="row">
          <div class="col-md-1">
            <div class="number"></div>
          </div>
          <div class="form-group col-md-11">
            <input type="submit" value="Submit Feedback" class="btn btn-success btn-lg" />
          </div>
        </div>
      </div>
    </form>
  </div>
  <br />
  <footer class="text-center">
    <p>&copy; 2017 - Verscend Technologies Pvt. Ltd.</p>
  </footer>

  <environment include="Development">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/bootstrap-rating.js"></script>
  </environment>
  <environment exclude="Development">
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery"
            crossorigin="anonymous"
            integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
    </script>
    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
            crossorigin="anonymous"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
    </script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
    <script src="~/js/bootstrap-rating.min.js"></script>
  </environment>
  <script>
    $('input.rating').rating({
      filled: 'glyphicon glyphicon-heart',
      empty: 'glyphicon glyphicon-heart-empty',
      start: 0,
      stop: 10,
      extendSymbol: function (rate) {
        $(this).tooltip({
          container: 'body',
          placement: 'bottom',
          title: rate
        });
      }
    });
  </script>
  @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
</body>
</html>