@model Contest.Models.Score.TeamAnalyticsViewModel

@{
    ViewData["Title"] = "Team Analytics";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var participants = Model.AllParticipants.OrderBy(x => x.Team).ToList();
}

<div class="jumbotron jumbotron-fluid">
    <div class="container px-5">
        <h1 class="display-6 text-success">Total teams<a href="#all_teams" class="float-end text-primary">@Model.TotalTeams</a></h1>
        <hr class="my-4">
        <h1 class="display-6 text-success">Total participants<a href="#all_participants" class="float-end text-primary">@Model.TotalParticipants</a> </h1>
        <hr class="my-4">
        <h1 class="display-6 text-success">Teams requirements<a href="#all_requirements" class="float-end text-primary">See Here</a></h1>
        <hr class="my-4">

        <h1 class="display-6 text-success mt-4">All teams</h1>
        <ol class="list-group list-group-flush" id="all_teams">
            @for (int i = 0; i < Model.AllTeams.Count; i++)
            {
                var team = Model.AllTeams[i];
                <li class="list-group-item list-group-item-secondary fw-bold">
                    <span class="text-info">@(i + 1).</span> 
                    @team.TeamName [@team.theme] - @team.ParticipantCount Participants
                </li>
            }
        </ol>

        <h1 class="display-6 text-success mt-4">All participants</h1>
        <div id="all_participants">
            <table class="table table-success table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Team</th>
                        <th scope="col">Department</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < participants.Count; i++)
                    {
                        var participant = participants[i];
                        <tr>
                            <th scope="row">@(i+1)</th>
                            <td>@participant.Name</td>
                            <td>@participant.Email</td>
                            <td>@participant.Team</td>                           
                            <td>@participant.Department</td>                           
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <h1 class="display-6 text-success mt-4">Team requirements</h1>
        <div class="list-group" id="all_requirements">
            @for (int i = 0; i < Model.TeamRequirements.Count; i++)
            {
                <div class="list-group-item flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1 text-success">@(i + 1). @Model.TeamRequirements[i].Team</h5>
                    </div>
                    <p class="mb-1 text-info"><span class="font-weight-bold">IT - </span>@(Model.TeamRequirements[i].IT ?? "None")</p>
                    <p class="mb-1 text-info"><span class="font-weight-bold">Other - </span>@(Model.TeamRequirements[i].Other ?? "None")</p>
                </div>
            }
        </div>
    </div>
</div>