@model Kolpi.Models.Result.FinalResultViewModel

@{
    ViewData["Title"] = "Result Section";
    var judges = Model.JudgesScores.Select(x => System.Globalization.CultureInfo.CurrentCulture.TextInfo.ToTitleCase(x.Judge)).Distinct().ToList();
    var bestIdeaTeams = Model.TeamsScores.OrderByDescending(x => x.AverageBestIdeaScore).ToList();
    var bestImplementationTeams = Model.TeamsScores.OrderByDescending(x => x.AverageBestImplementationScore).ToList();
    var peoplesChoiceTeams = Model.PeoplesChoiceRanks;
    int sn = 1;
}

<ul class="nav nav-pills mb-2" id="v-pills-tab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="h-judges-tab" data-toggle="pill" href="#h-judges" role="tab" aria-controls="h-judges" aria-selected="true">Judge Panel</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="v-best-idea-result-tab" data-toggle="pill" href="#v-best-idea-result" role="tab" aria-controls="v-best-idea-result" aria-selected="false">Best Idea Ranking</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="v-best-impl-result-tab" data-toggle="pill" href="#v-best-impl-result" role="tab" aria-controls="v-best-impl-result" aria-selected="false">Best Implementation Ranking</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" id="v-peoples-choice-tab" data-toggle="pill" href="#v-peoples-choice" role="tab" aria-controls="v-peoples-choice" aria-selected="false">People's Choice Ranking</a>
  </li>
</ul>

<div class="tab-content" id="v-pills-tabContent">
  <div class="tab-pane fade show active" id="h-judges" role="tabpanel" aria-labelledby="h-judges-tab">
    <ul class="list-group list-group-flush">
      @foreach (var judgeName in judges)
      {
        <li class="list-group-item font-weight-bold"><span>@(sn++).</span> @judgeName</li>
      }
    </ul>
  </div>
  <div class="tab-pane fade pt-2 border border-warning" id="v-best-idea-result" role="tabpanel" aria-labelledby="v-best-idea-result-tab">
    <div class="row">
      @for (int i = 0; i < bestIdeaTeams.Count; i++)
      {
        var teamName = bestIdeaTeams[i].TeamName;
        var teamScore = $"{bestIdeaTeams[i].AverageBestIdeaScore:0.000}";
        var theme = bestIdeaTeams[i].Theme.ToString();
        var participants = bestIdeaTeams[i].Participants;
        var title = $"{theme} - {participants}";

        
        <div class="col-md-4 text-center mb-4">
          @if (i == 0)
          {
            <img src="/images/goldmedal.png" alt="Winner" class="medal-size" title="@title">
          }
          else if (i == 1)
          {
            <img src="/images/silvermedal.png" alt="runnerup" class="medal-size" title="@title">
          }
          else if (i == 2)
          {
            <img src="/images/bronzemedal.png" alt="runnerupsecond" class="medal-size" title="@title">
          }
          else
          {
            <img src="/images/lovebatch.png" alt="runnerupsecond" class="love-token" title="@title">
          }
          <h3 class="text-uppercase text-info">@teamName</h3>
          <h4 class="text-success">Score: <strong>@teamScore / 10</strong></h4>
        </div>
      }
    </div>
  </div>
  <div class="tab-pane fade pt-2 border border-warning" id="v-best-impl-result" role="tabpanel" aria-labelledby="v-best-impl-result-tab">
    <div class="row">
      @for (int i = 0; i < bestImplementationTeams.Count; i++)
      {
        var teamName = bestImplementationTeams[i].TeamName;
        var teamScore = $"{bestImplementationTeams[i].AverageBestImplementationScore:0.000}";
        var theme = bestImplementationTeams[i].Theme.ToString();
        var participants = bestImplementationTeams[i].Participants;
        var title = $"{theme} - {participants}";

        
        <div class="col-md-4 text-center mb-4">
          @if (i == 0)
          {
            <img src="/images/goldmedal.png" alt="Winner" class="medal-size" title="@title">
          }
          else if (i == 1)
          {
            <img src="/images/silvermedal.png" alt="runnerup" class="medal-size" title="@title">
          }
          else if (i == 2)
          {
            <img src="/images/bronzemedal.png" alt="runnerupsecond" class="medal-size" title="@title">
          }
          else
          {
            <img src="/images/lovebatch.png" alt="runnerupsecond" class="love-token" title="@title">
          }
          <h3 class="text-uppercase text-info">@teamName</h3>
          <h4 class="text-success">Score: <strong>@teamScore / 10</strong></h4>
        </div>
      }
    </div>
  </div>
  <div class="tab-pane fade p-2" id="v-peoples-choice" role="tabpanel" aria-labelledby="v-peoples-choice-tab">
    <partial name="_PeoplesChoice" model="peoplesChoiceTeams"/>
  </div>
</div>