@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="container h-100">
    <div class="row h-100 justify-content-center">
        <div class="col-md-5 p-4">
            <section>
                <form method="post">
                    <h5>Your account</h5>
                    <hr />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="mb-3">
                        <label asp-for="Input.Email" class="form-label"></label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Input.Password" class="form-label"></label>
                        <input asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="mb-3 form-check">
                        <label asp-for="Input.RememberMe">
                            <input class="form-check-input" asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-outline-success">Log In</button>
                    </div>
                </form>
                <div class="d-grid mt-2">
                    <button class="btn btn-outline-warning" asp-area="Identity" asp-page="/Account/Register">Register For New Account</button>
                </div>
            </section>
        </div>
        <div class="col-md-5 ml-5 p-4">
            <section>
                <h5>Or sign in with</h5>
                <hr />
                <h5 class="text-danger">External authentication schemes are disabled.</h5>
                @*@{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                <h3>No external authentication services configured.</h3>
                }
                else
                {
                <form asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                <div>
                <p>
                @foreach (var provider in Model.ExternalLogins)
                {
                <button type="submit" class="btn btn-outline-info" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account"><ion-icon name="@(provider.Name.Equals("Google") ? "logo-google": "logo-windows")" class="align-middle" size="large "></ion-icon><span class="align-middle">@provider.DisplayName Account</span></button>
                }
                </p>
                </div>
                </form>
                }
                }*@
            </section>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
