@model Contest.Models.Score.JudgeScoreViewModel

@{
    ViewData["Title"] = "Delete Score Submission";
}

<h3>Are you sure you want to delete your score submission?</h3>
<div>
    <h4>TeamScore</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.InnovationScore)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InnovationScore)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UsefulnessScore)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UsefulnessScore)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.QualityScore)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.QualityScore)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CompanyValueScore)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CompanyValueScore)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PresentationScore)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PresentationScore)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Team)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Team)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to Listm of Submissions</a>
    </form>
</div>
