@model IEnumerable<Kolpi.Models.ScoreCard.TeamViewModel>

@{
  ViewData["Title"] = "All Teams";
  Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (Model == null || Model.Count() == 0)
{
  <h2 class="text-center text-danger">No teams registered yet</h2>
}
else
{
  <div class="card-columns" style="line-height:normal">
    @foreach (var team in Model)
    {
      <div class="card border-success">
        <img class="card-img-top" src="@(team.AvatarDataUrl ?? "/images/team_avatar.png")" alt="Team Avatar">
        <div class="card-header text-center text-primary">
          <b>@team.TeamName</b>
          @if (team.IsCreatedByCurrentUser || User.IsInRole(Kolpi.Web.Constants.Role.Admin))
          {
            <span class="float-right">
              <a asp-action="Edit" asp-route-identifier="@team.TeamCode" title="Edit Your Team"><ion-icon name="create" size="small"></ion-icon></a>
              <a asp-action="Delete" asp-route-identifier="@team.TeamCode" title="Delete Your Team"><ion-icon name="trash" size="small"></ion-icon></a>
            </span>
          }
        </div>
        <div class="card-body p-2 text-center" style="font-size:14px;">
          <label class="font-weight-bold mb-0 text-success" asp-for="@team.ProblemStatement"></label>
          <p class="mb-2 text-primary">@team.ProblemStatement</p>

          <label class="font-weight-bold mb-0 text-success" asp-for="@team.Location"></label>
          <p class="mb-2 text-primary">@team.Location</p>

          <label class="font-weight-bold mb-0 text-success" asp-for="@team.Theme"></label>
          <p class="mb-2 text-primary">@team.Theme</p>

          <label class="font-weight-bold mb-0 text-success" asp-for="@team.Participants"></label>
          <p class="mb-2 small text-primary">
            @foreach (var participant in team.Participants.Split(new[] { '\n', '\r' }, StringSplitOptions.RemoveEmptyEntries))
            {
              var isLead = participant.IndexOf("lead", StringComparison.InvariantCultureIgnoreCase) != -1;

              if (isLead)
              {
                <strong title="Team Lead">@participant</strong>
              }
              else
              {
                @participant
              }
              <br />
            }
          </p>

          <label class="font-weight-bold mb-0 text-success" asp-for="@team.ITRequirements"></label>
          <p class="mb-2 text-primary">@(team.ITRequirements ?? "None")</p>

          <label class="font-weight-bold mb-0 text-success" asp-for="@team.RepoUrl"></label>
          <p class="mb-2 text-primary">@(team.RepoUrl ?? "Will be updated soon")</p>

          <label class="font-weight-bold mb-0 text-success" asp-for="@team.OtherRequirements"></label>
          <p class="mb-2 text-primary">@(team.OtherRequirements ?? "None")</p>

          <label class="font-weight-bold mb-0 text-success" asp-for="@team.CreatedBy"></label>
          <p class="mb-2 text-primary">@team.CreatedByFormatted</p>
        </div>
      </div>

    }
  </div>
}