@model IEnumerable<Contest.Models.Survey.SurveyThreadViewModel>

@{
    ViewData["Title"] = "All Surveys";
    //var sn = 1;
}

@*<p>
  <a asp-action="CreateSurveyThread" class="btn btn-success pull-right"><span class="glyphicon glyphicon-plus"></span> Create New Survey Thread</a>
</p>
<table class="table table-striped">
    <thead>
    <tr>
      <th>SN</th>
      <th>
        Created By
      </th>
      <th>
        Title of Survey
      </th>
      <th>
        Url to Share Publicly
      </th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
  <tr>
    <td>@(sn++)</td>
    <td>
      @item.UserName
    </td>
    <td>
      @item.Description
    </td>
    <td>
      <a class="text-success" target="_blank" href="@item.AbsoluteUrl"> @item.AbsoluteUrl</a>
    </td>
    <td>
      @if (item.FeedbackCount > 0)
      {
        <a asp-action="ThreadFeedbacks" asp-route-threadHash="@item.ThreadHash"><span class="badge">@item.FeedbackCount</span>Feedbacks</a>
      }
    </td>
  </tr>
}
    </tbody>
</table>*@

<div class="display-4 text-center">Feature implementation in progress...</div>